.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  padding: 0 12px;
  border-bottom: #f4f4f4 solid 1px;
  z-index: 1;
}

.logo a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.main {
  max-width: 640px;
  margin: 24px auto;
}
