# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NEXT_PUBLIC_DOMAIN="http://localhost:3000"

DATABASE_URL="mysql://root:password@127.0.0.1:3306/xxxxxxxxxxxxxxx"

# Firebase 
NEXT_PUBLIC_FIREBASE_API_KEY="xxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_AUTH_DOMIAN="xxxxxxxxxxxxxxx.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="xxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="xxxxxxxxxxxxxxx.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="xxxxxxxxxxxxxxx"
NEXT_PUBLIC_FIREBASE_APP_ID="1:xxxxxxxxxxxxxxx:web:xxxxxxxxxxxxxxx"

# Firebase adminsdk
FIREBASE_ADMINSDK_TYPE="service_account"
FIREBASE_ADMINSDK_PROJECT_ID="xxxxxxxxxxxxxxx"
FIREBASE_ADMINSDK_PRIVATE_KEY_ID="xxxxxxxxxxxxxxx"
FIREBASE_ADMINSDK_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxxxxxxxxxxxx\n-----END PRIVATE KEY-----\n"
FIREBASE_ADMINSDK_CLIENT_EMAIL="firebase-adminsdk-xlfnm@xxxxxxxxxxxxxxx.iam.gserviceaccount.com"
FIREBASE_ADMINSDK_CLIENT_ID="xxxxxxxxxxxxxxx"
FIREBASE_ADMINSDK_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_ADMINSDK_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_ADMINSDK_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_ADMINSDK_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xlfnm%40xxxxxxxxxxxxxxx.iam.gserviceaccount.com"

# GMAIL
GMAIL_ADDRESS="xxxxxxxxxxxxxxx@example.com"
GMAIL_PASSWORD="xxxxxxxxxxxxxxx"

# CRYPTO_KEY
CRYPTO_SECRET_KEY="xxxxxxxxxxxxxxx"