NEXT_PUBLIC_DOMAIN="http://localhost:3000"

DATABASE_URL="mysql://root:password@127.0.0.1:3306/xxx"

# Firebase 
NEXT_PUBLIC_FIREBASE_API_KEY="xxx"
NEXT_PUBLIC_FIREBASE_AUTH_DOMIAN="xxx.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="xxx"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="xxx.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="xxx"
NEXT_PUBLIC_FIREBASE_APP_ID="1:xxx"

# Firebase adminsdk
FIREBASE_ADMINSDK_TYPE="service_account"
FIREBASE_ADMINSDK_PROJECT_ID="xxx"
FIREBASE_ADMINSDK_PRIVATE_KEY_ID="xxx"
FIREBASE_ADMINSDK_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----\n"
FIREBASE_ADMINSDK_CLIENT_EMAIL="firebase-adminsdk-xlfnm@xxx.iam.gserviceaccount.com"
FIREBASE_ADMINSDK_CLIENT_ID="105384375461792603868"
FIREBASE_ADMINSDK_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_ADMINSDK_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_ADMINSDK_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_ADMINSDK_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xlfnm%40xxx.iam.gserviceaccount.com"

# COOKIE
COOKIE_SECRET_CURRENT="xxx"
COOKIE_SECRET_PREVIOUS="xxx"

# GMAIL
GMAIL_ADDRESS="xxx.r@gmail.com"
GMAIL_PASSWORD="xxx"

# CRYPTO_KEY
CRYPTO_SECRET_KEY="xxx"